/* Reset de estilos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: pink;
}

/* Estilos para el navbar */
nav {
    background-color: palevioletred;
    color: white;
    text-align: center;
    padding: 50px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos para las secciones */
section {
    padding: 50px 20px;
    text-align: center;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    max-width: 150px;
    border-radius: 50%;
    margin-right: 20px;
}
.about-info {
    flex: 2;
    padding: 20px;
    text-align: left;
    background-color: #ffc0cb; /* Cambia el color del fondo del cuadro según tu preferencia */
    border-radius: 10px; /* Ajusta el radio del borde del cuadro */
    margin-left: 10px; /* Ajusta el margen izquierdo para separar el cuadro del borde de la imagen */
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
